#cart {
  padding: 0;

  > div {
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    gap: 1.5rem;
  }

  h1 {
    color: var(--titleColor);
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }
}

.cart-items {
  width: 540px;
  height: 100%;
  padding: 0 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
}

.cart-item {
  background-color: var(--glassy2);
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  padding: 0.8rem;
  border: 1px solid var(--glassyColor);
  border-radius: 1.2rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0 4px 10px #0002;
  position: relative;
  text-decoration: none;

  img {
    flex-shrink: 0;
    min-height: 100%;
    border: 1px solid #fff3;
    border-top-color: #fff2;
    border-left-color: #fff2;
    border-radius: 1rem;
    aspect-ratio: 1/1;
    box-shadow: 0 6px 10px #0002;
  }

  .price {
    display: flex;
    font-size: 1rem;
    color: var(--textColor);
  }

  .price::before {
    content: '$';
    margin-right: .1rem;
  }

  .price span {
    font-weight: 500;
    font-size: .7rem;
    padding: .2rem 0 0 .2rem;
  }

  .product-picker {
    width: 105px;
    height: 30px;
    margin: 0 auto 0 0;
  }

  .product-picker::after {
    display: none;
  }
}

.cart-item__right {
  flex: 1;
  min-width: 0;
  padding: .2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    color: var(--blackColor);
  }
  
  > p {
    color: var(--titleColor);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.cart-item__actions {
  margin-top: auto;
  display: flex;
  align-items: center;

  p {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--blackColor);
    margin-right: 1rem;
  }

  p::before {
    content: '$';
    margin-right: 0rem;
  }
}

.btn-remove {
  background-color: transparent;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  svg {
    fill: var(--titleColor);
    width: 20px;
    height: 20px;
  }
}

.cart-resume {
  height: min-content;
  padding: 1rem;
  border: 1px solid var(--glassy2);
  border-radius: 2rem;
  box-shadow: 0 10px 20px -5px #0003;

  section {
    background-color: var(--glassy2);
    width: 340px;
    height: fit-content;
    padding: 1.5rem;
    border: 1px solid var(--glassyColor);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 10px 20px -5px #0003;
  }

  h2 {
    color: var(--titleColor);
    text-align: center;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div p {
    color: var(--titleColor);
  }

  hr {
    border-left: 0;
    border-top-color: var(--glassy2);
  }

  .total-final {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--blackColor);
  }

  button {
    background: linear-gradient(to right, #7ab090b0, var(--mainColor), #7ab090b0);
    color: #fee8b8;
    font-size: 1.1rem;
    height: 3.5rem;
    border: 1px solid #ccffe0;
    border-radius: 2rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    position: relative;
    cursor: pointer;
    text-shadow: 0 2px 5px #0003;
    box-shadow: 0 5px 10px -2px #0003;
    overflow: hidden;
  }

  button::before, button::after {
    content: '';
    width: 50%;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 2px 10px #ccffed,
    0 15px 20px -10px #ccffed;
  }

  button::before {
    top: -30px;
  }

  button::after {
    bottom: -30px;
    box-shadow: 0 -2px 10px #ccffed,
    0 -15px 20px -10px #ccffed;
  }

  button svg {
    fill: #fee8b8;
    width: 20px;
    margin-left: .2rem;
    filter: drop-shadow(0 2px 4px #0003)
  }
}

.cart-item.disabled {
  background-color: var(--back);
  filter: brightness(0.9);
  opacity: 0.4;
  transition: 150ms ease;
}