#home {
  h2 {
    font-family: Cinzel;
    font-size: 1rem;
    font-weight: 900;
    color: var(--titleColor);
    padding: 0.5rem;
  }

  header {
    padding: 1rem 0;
  }

  .add-panel {
    width: 100%;
    height: 340px;
    position: relative;
  }

  .add-panel h2 {
    font-family: Cinzel;
    font-size: 1.5rem;
    background: linear-gradient(to right, #be9749 20%, #ecd8ae, #be9749 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    filter:drop-shadow(2px 2px 4px #0002);
  }

  .add-panel img {
    width: 100%;
    height: 100%;
    border: 1px solid #fff3;
    border-radius: 2rem;
    box-shadow: 0 10px 20px var(--shadowColor);
    object-fit: cover;
  }

  .add-panel div {
    width: min(70%, 600px);
    height: calc(100% - 1.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 4rem;
    text-align: center;
  }

  .add-panel p {
    text-wrap: balance;
    font-size: 1.1rem;
    color: #e2cc9c;
    margin-bottom: 0.6rem;
    text-shadow: 2px 2px 4px #0002;
  }

  .add-panel button {
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(to right, #45280b, #f5c56b, #e2cc9c, #f5c56b, #45280b);
    color: #45280b;
    width: fit-content;
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius: 3rem;
    text-shadow: 0 0 4px #f5c56b;
    box-shadow: 2px 2px 4px #0006;
    cursor: pointer;
  }

  .add-panel button:hover {
    color: #fff;
    text-shadow: 2px 2px 4px #0006;
  }

  .categories-panel {
    font-weight: bold;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .categories-panel div {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
  }

  .categories-panel div::-webkit-scrollbar {
    display: none;
  }

  .categories-panel span {
    font-family: Cinzel, serif;
    font-size: 0.8rem;
    flex-shrink: 0;
    text-align: center;
    background-color: var(--fgColor);
    color: var(--secondColor);
    width: 130px;
    height: 130px;
    border: 1px solid var(--borderColor);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  .categories-panel img {
    width: 90px;
    height: 90px;
  }

  .categories-panel span:hover {
    background-color: var(--hoverColor);
  }
}

#popular-card__container {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;

  header {
    display: flex;
    justify-content: space-between;
  }

  button {
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: Poppins;
    background-color: transparent;
    color: var(--textColor);
    padding: 0 0.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }

  button:hover {
    color: var(--mainColor)
  }

  > div {
    padding: 0 1.5rem 8px 0;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
  }

  ::-webkit-scrollbar {
    display: none
  }
}

.product-card {
  flex-shrink: 0;
  background-color: #fff6;
  width: 200px;
  border: 1px solid #fff4;
  border-top-color: #fff6;
  border-left-color: #fff6;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px -8px #0003,
  inset -2px 2px 5px #fff4;
  cursor: pointer;
  text-decoration: none;
}

.pdt-target {
  font-weight: bold;
  font-size: 0.7rem;
  background: linear-gradient(-45deg, #be9749 10%, #633b13 10%, #be9749, #633b13); /* #ecd8ae */
  color: #fff;
  /* border: 1px solid #ecd8ae; */
  padding: 0.2rem .4rem;
  border-top-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.pdt-image {
  flex-shrink: 0;
  height: 140px;
  /* padding: 0.3rem;
  padding-bottom: 0; */
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
    opacity: 0;
    transition: opacity .7s ease;
  }
}

.pdt-info {
  font-size: 0.8rem;
  height: 100%;
  padding: 0.8rem;
  padding-top: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem
}

.pdt-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--secondColor);
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pdt-description {
  font-size: 0.8rem;
  color: var(--textColor);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pdt-price {
  font-size: 0.9rem;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  line-height: 1rem;
}

.pdt-price b {
  color: var(--blackColor);

  &::before { content: '$'}
}

.pdt-price s {
  color: var(--textColor);

  &::before {
    content: '$';
    display: inline-block;
  }
}

#popular-card__container .pdt-description {
  display: none;
}

#main-card__container {
  width: 100%;

  > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1rem;
    row-gap: 2rem;
  }
}

#main-card__container .product-card {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  aspect-ratio: 4/5;
}

#main-card__container .pdt-target {
  background: greenyellow;
  color: var(--mainColor);
  border-radius: 0.4rem;
  top: 0.5rem;
  left: 0.5rem;
}

#main-card__container .pdt-image {
  height: 60%;
  img {
    border-radius: 1rem;
  }
}

#main-card__container .pdt-btn {
  background-color: #fff8;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--glassyColor);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
  cursor: pointer;

  svg {
    fill: var(--mainColor);
    width: 1rem;
    height: 1rem;
    position: absolute
  }
}

#main-card__container .pdt-info {
  padding: .8rem;
}

@media screen and (width < 650px) {
  #home {
    padding: 0;

    .add-panel {
      width: 100%;
      padding: 0 0.5rem 1rem;
      border-radius: 0.2rem;
    }

    .add-panel h2 {
      font-size: 1.2rem;
      background: linear-gradient(to right, #e5be76 20%, #ecd8ae, #e5be76 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      text-wrap: pretty;
      filter: drop-shadow(2px 2px 4px #000);
    }

    .add-panel img {
      object-position: left;
    }

    .add-panel div {
      width: 100%;
      height: 90%;
      right: 0;
    }

    .add-panel p {
      font-size: 0.8rem;
      color: #fff;
      padding: 0 0.5rem;
    }

    .categories-panel div {
      gap: 1rem;
    }
  }

  #popular-card__container {
    padding: 0 1rem;
  }

  #main-card__container {
    padding: 0 1rem 1rem;

    > div {
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
      gap: 1rem;
    }

    .pdt-info {
      padding: .6rem;
      gap: .2rem;
    }

    .pdt-name {
      font-size: 0.8rem;
      -webkit-line-clamp: 1;
    }

    .pdt-description {
      font-size: 0.7rem;
    }

    .pdt-price {
      font-size: .8rem;
      line-height: .8rem;
    }
  }
}