:root {
  --mainColor: #014944;
  --secondColor: #694c33;
  --textColor: #444;
  --titleColor: #000;
  --bgColor: #fff;
}

@font-face {
  font-family: Poppins;
  src: url("../Poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

*::selection {
  background-color: var(--mainColor);
  color: #fff;
}

body {
  font-family: Poppins, 'Segoe UI', sans-serif;
  background-color: #222;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  -webkit-tap-highlight-color: #0000;
}

body::-webkit-scrollbar, #product-page::-webkit-scrollbar {
  background-color: var(--bgColor);
  width: 10px;
  display: none;
}

body::-webkit-scrollbar-thumb, #product-page::-webkit-scrollbar-thumb { 
  background-color: #c6ac69;
  border: 2px solid var(--bgColor);
  border-radius: 10px;
}

main {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
}

header {
  background-color: #ffffff08;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  backdrop-filter: blur(20px);
  transition: translate 200ms ease;
}

header.ocultar {
  translate: 0 -100%;
}

img {
  user-select: none;
}

#icon {
  background-color: var(--mainColor);
  height: 80%;
  margin-left: 0.5rem;
  border-radius: 50%;
  padding: 0.4rem;
}

.hdr-title {
  color: var(--bgColor);
  font-size: 0.8rem;
}

.hdr-title span {
  font-size: 0.6rem;
  opacity: 0.8;
}

#menu {
  margin-left: auto;
  padding: 13px 1rem;
}

.landing {
  background-color: var(--mainColor);
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing img {
  height: 180px;
  aspect-ratio: 1;
}

.page {
  background-color: var(--bgColor);
  width: 100%;
  padding-bottom: 50px;
  border-top-left-radius: 1rem;
  translate: 0 -1rem;
}

.main-products {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  translate: 0 -30%;
  overflow-x: auto;
}

.main-products::-webkit-scrollbar,
.more-products::-webkit-scrollbar {
  display: none
}

.product {
  flex-shrink: 0;
  background-color: var(--bgColor);
  width: 160px;
  height: 200px;
  box-shadow: 2px 4px 8px #0002;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
}

.pdt-target {
  font-weight: bold;
  font-size: 0.6rem;
  background-color: var(--secondColor); /* #ef4155 */
  color: #fff;
  padding: 0.2rem .4rem;
  border-top-left-radius: 0.4rem;
  border-bottom-right-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.pdt-image {
  height: 120px;
  padding: 0.3rem;
  position: relative;
  overflow: hidden;
}

.pdt-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.pdt-info {
  font-size: 0.8rem;
  padding: 0.2rem 0.8rem;
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
}

.pdt-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--secondColor);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pdt-name--extra {
  font-size: 0.7rem;
  color: var(--textColor);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pdt-price {
  display: flex;
  justify-content: space-between;
}

.pdt-price b {
  color: var(--titleColor);
}

.pdt-price s {
  color: var(--textColor);
}

.nuevo {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  margin-top: -80px;
  display: flex;
  justify-content: space-between;
}

hr {
  background: linear-gradient(to right, transparent, #ccc, transparent);
  height: 1px;
  border: none;
}

.more-products {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  gap: 1.6rem;
  overflow-x: auto;
}

.more-products .product {
  width: 180px;
  height: fit-content;
}

.more-products .pdt-image {
  padding: 0;
  padding-bottom: 0.3rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.more-products .pdt-image img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: scale .2s ease;
}

.more-products .pdt-image:hover img {
  scale: 1.1;
}

.more-products .product button {
  inset: 0;
  font-weight: bold;
  color: var(--mainColor);
  width: calc(100% - 1.6rem);
  height: 30px;
  margin: 0.8rem;
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.more-products .product button:hover {
  text-decoration: underline;
}

.more-products .product button svg {
  fill: var(--mainColor);
  width: 1.5rem;
  height: 1.5rem;
}

.nav {
  background-color: var(--bgColor);
  width: 100%;
  height: 50px;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
}

.nav a {
  font-size: 0.7rem;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
}

.nav .icon {
  fill: var(--textColor);
  width: 20px;
  height: 20px;
}

.nav .icon.filled {
  fill: var(--mainColor);
  display: none;
}

a.nav-selected {
  color: var(--mainColor);
}

.nav-selected .icon {
  display: none;
}

.nav-selected .icon.filled {
  display: block;
}

#home {
  padding-left: .5rem;
}

#cart {
  background-color: var(--titleColor);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 60px #161d16b6;
}

#cart .icon {
  fill: #fff;
}

/* #fav:hover {
  color: #ff3060;
}

#fav:hover .icon {
  display: none;
}

#fav:hover .icon.filled {
  fill: #ff3060;
  display: block;
} */

#search {
  padding-right: .5rem;
}

#product-page {
  flex-shrink: 0;
  will-change: translate;
  background-color: var(--bgColor);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  translate: 100%;
  z-index: 4;
  transition: translate .2s ease;
  overflow-y: auto;
  overscroll-behavior: contain;
}

#product-page.active {
  translate: 0;
}

.product-page--block:nth-child(1) {
  background-color: var(--bgColor);
  height: 50%;
}

.product-page--block:nth-child(2) {
  background-color: var(--bgColor);
  height: 100%;
  margin-top: -1rem;
  padding: 1rem;
  padding-top: 0.5rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

#product-page header {
  flex-shrink: 0;
  background-color: transparent;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: none;
  position: sticky;
}

#product-page header button {
  background-color: var(--bgColor);
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

#product-page header button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--textColor);
}

#product-page header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#btn-fav {
  padding-top: 0.18rem;
}

#btn-fav svg:nth-child(2) {
  display: none;
}

#btn-fav.active svg:nth-child(1) {
  display: none
}

#btn-fav.active svg:nth-child(2) {
  display: block;
  fill: #c9661a
}

#btn-fav:active svg {
  scale: 1.1;
}

.product-page-images {
  width: 100%;
  height: 100%;
  margin-top: -4rem;
}

.product-page-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.product-page-images img.visible {
  opacity: 1;
  transition: opacity 500ms ease;
}

.product-page-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.product-page-info h2 {
  color: var(--titleColor);
  font-size: 1rem;
}

.product-page-info hr {
  margin:  0;
}

.product-page-info--stock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-page-type {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.product-page-type svg {
  fill: var(--textColor);
  width: 24px;
  height: 24px;
}

.product-page-stock {
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #d5ffaa;
  color: #335f11;
  height: 1.2rem;
  padding: 0 0.4rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
}

.product-page-prices {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.lastprice {
  color: var(--textColor);
}

.product-page-description {
  font-size: 0.8rem;
  color: var(--textColor);
  text-align: center;
}

.product-page-sizes {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
}

.product-page-sizes input {
  accent-color: var(--mainColor);
  cursor: pointer;
}

.product-page-sizes label {
  padding: 0.6rem;
  display: flex;
  gap: 0.4rem;
  cursor: pointer;
}

.product-page-picker {
  margin-bottom: 1rem;
  padding: 0 2.4rem;
  display: flex;
}

.product-page-picker input {
  font-size: 1.2rem;
  font-weight: bold;
  width: 2rem;
  height: 1.8rem;
  border: none;
  outline: none;
  text-align: center;
}

.product-page-picker input::-webkit-inner-spin-button {
  display: none;
}

.product-page-picker button {
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--textColor);
  color: var(--bgColor);
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.product-page-picker button:hover {
  background-color: var(--mainColor);
}

.product-page-actions {
  width: 100%;
  margin-top: auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.product-page-actions button {
  font-weight: bold;
  background: var(--titleColor);
  color: var(--bgColor);
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
  transition: translate 150ms ease;
}

.product-page-actions button svg {
  fill: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: rotate 150ms ease;
}

.product-page-actions button:hover {
  translate: 0 -5%;
}

.product-page-actions button:hover svg {
  rotate: -10deg
}

#btn-buy {
  background: linear-gradient(to right bottom, #149c2b, #02570c);
}


@media (width > 700px) {
  .nav {
    width: min(300px, 100vw);
    border-radius: 1.8rem;
    left: 50%;
    translate: -50% -1rem;
    box-shadow: 0 4px 8px #0003;
  }

  .more-products {
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .more-products .product {
    width: 260px;
    height: 320px;
    border-radius: 1.2rem;
  }

  .more-products .pdt-image {
    height: 180px;
  }

  .more-products .pdt-price {
    font-size: 1rem;
  }

  .more-products .product button {
    margin-top: auto;
    padding: 1.2rem;
  }

  #product-page {
    background: #0008;
    padding: 5vh max(10vw, 1rem);
    flex-direction: row;
    translate: 0;
    backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease, visibility 300ms ease;
  }

  #product-page.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms ease;
  }

  .product-page--block:nth-child(1) {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
  }

  .product-page--block:nth-child(2) {
    margin: 0;
    width: 100%;
    padding: 2rem;
    padding-top: 1.4rem;
    border-top-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .product-page-info {
    gap: 1.2rem;
  }

  .product-page-description {
    font-size: 0.9rem;
  }

  .product-page-prices {
    font-size: 1rem;
  }

  .product-page-actions {
    gap: 1.5rem;
  }

  .product-page-actions button {
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 1.4rem;
  }
}